/* base */
body {
	font-family: "Roboto", sans-serif;
	background: #fff;
	color: #434455;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	box-sizing: border-box;
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

button {
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/* header */
.header {
	border-bottom: 1px solid #e7e9fc;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
}

.header-nav-list {
	display: flex;
	gap: 40px;
}

.header-nav-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	margin-right: 76px;
}

.header-nav-link span {
	color: #2e2f42;
}

.header-nav-list-item-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #404bbf;
}

/*.studio:active {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #404bbf;
	text-decoration: underline;
}*/

.header-address {
	font-style: normal;
}

.header-address-list {
	display: flex;
	gap: 40px;
}

.header-address-list-item-link {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #434455;
}

.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
	color: #404bbf;
}

.header a {
	display: inline-block;
	padding: 24px 0;
}

/* main */

/* --banner-- */
.banner {
	background: #2e2f42;
	padding: 188px 0;
}

.banner .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner-main-header {
	font-weight: 700;
	font-size: 56px;
	line-height: 107%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #fff;
	max-width: 496px;
	margin-bottom: 48px;
}

.banner-btn {
	background: #4d5ae5;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	min-width: 169px;
	height: 56px;
}

.banner-btn:hover,
.banner-btn:focus {
	background: #404bbf;
}


/* ---keypoints */

.keypoints {
	padding: 120px 0;
}

.keypoints-list {
	display: flex;
	gap: 24px;
}

.keypoints-list-items {
	width: calc((100% - 24px * 3) / 4);
}

.keypoints-item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.keypoints-list-items-text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #434455;
}

/* about our team */
.about {
	background: #f4f4fd;
	padding: 120px 0;
}

.about-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.about-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.about-list-item {
	background: #fff;
}

.about-list-item:first-child {
	border-radius: 0px 0px 4px 4px;
}


.about-item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
	margin-bottom: 8px;
}

.list-cart-description {
	padding: 32px 0;
}

.about-item-text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #434455;
}

/* ------portfolio */
.portfolio {
	padding: 120px 0;
}

.portfolio-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
	column-gap: 24px;
}

.portfolio-list-item {
	background: #fff;

}

.portfolio-list-cart-description {
	padding: 32px 16px;
	border-bottom: 1px solid #e7e9fc;
	border-left: 1px solid #e7e9fc;
	border-right: 1px solid #e7e9fc;
}

.portfolio-list-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.portfolio-list-text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #434455;
}

/* footer */
.footer {
	background: #2e2f42;
	padding: 100px 0
}


.footer-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	margin-bottom: 16px;
	display: inline-block;
}

.footer-link-logo {
	color: #f4f4fd;
}

.footer-text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	max-width: 264px;
}